.vector-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.vector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 9px solid #d94f5c;
  padding: 20px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  margin-top: 40px;
  width: 100%;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}


.image-container img {
  width: 435px;
  height: 435px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
  transition: transform 0.4s ease;
}


.image-container:hover img {
  transform: scale(1.05);
  filter: brightness(0.5);
}

.overlay-text { 
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.4s ease;
}

.image-container:hover .overlay-text {
  opacity: 1;
  transform: translateY(0);
}

.title {
  text-align: center;
  font-size: 40px;
}

.count {
  font-family: "Roboto", sans-serif;
  color: #d94f5c;
  font-size: 60px;
}

.label {
  color: rgba(169, 153, 7, 1);
  margin-top: 5px;
  font-size: 60px;
}


@media (max-width: 768px) {

  .vector-container {
    gap: 30px;
  }

  .vector {
    margin-bottom: 20px;
  }

  .image-container img {
    width: 360px;
    height: 360px;
  }

  #count{
    margin-left: 0;
  }

}


@media (max-width: 600px) {

  .vector-container {
    flex-direction: column;
    gap: 20px;
  }

  .vector {
    border-bottom: none;
    border-left: 6px solid #d94f5c;
    padding: 20px;
    width: 90%;
  }

  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .image-container {
    width: 100%;
    max-width: 340px;
    margin: auto;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .overlay-text {
    font-size: 0.85rem;
  }

  .title {
    font-size: 28px;
  }

  .count {
    font-size: 40px;
  }

  .label {
    font-size: 28px;
  }

}

@media (max-width: 380px){

  .image-container {
    max-width: 300px;
  }

  .title{
    font-size: 24px;
  }

  .count{
    font-size: 34px;
  }

  .label{
    font-size: 24px;
  }

}